Project_nyctaxi/Nyc_Taxi_Pipeline/pl_stg_processing_nyctaxi.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ParquetSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "ParquetReadSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "NycTaxi_yellow",
                  "fileName": {
                    "value": "@concat('yellow_tripdata_',variables('v_date'),'.parquet')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "project_Harilakehouse",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "b11bac1e-00d7-8545-43d2-0cbb28e7b3b1",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "preCopyScript": "delete from stg.Nyctaxi_yellow",
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "disableMetricsCollection": false,
            "datasetSettings": {
              "type": "DataWarehouseTable",
              "typeProperties": {
                "schema": "stg",
                "table": "Nyctaxi_yellow"
              },
              "schema": [],
              "linkedService": {
                "name": "Project_warehouse_hari",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "99543ecb-dade-4b57-a1a5-72d603141fe0",
                    "endpoint": "ddkvvvpkfyoepkagj3o32mrl7i-x5wxzcyc7a3edmdkglhhy3qiky.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "8b7c6dbf-f802-4136-b06a-32ce7c6e0856"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Nyc Taxi Yellow",
        "dependsOn": [
          {
            "activity": "v_date",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[stg].[data_cleaning_stg]",
          "storedProcedureParameters": {
            "end_date": {
              "value": {
                "value": "@variables('v_enddate')",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "start_date": {
              "value": {
                "value": "@concat(variables('v_date'),'-01')",
                "type": "Expression"
              },
              "type": "DateTime"
            }
          }
        },
        "linkedService": {
          "name": "Project_warehouse_hari",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "99543ecb-dade-4b57-a1a5-72d603141fe0",
              "endpoint": "ddkvvvpkfyoepkagj3o32mrl7i-x5wxzcyc7a3edmdkglhhy3qiky.datawarehouse.fabric.microsoft.com",
              "workspaceId": "8b7c6dbf-f802-4136-b06a-32ce7c6e0856"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Sp_removing_Outliner_Dates",
        "dependsOn": [
          {
            "activity": "v-end_date",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "v_enddate",
          "value": {
            "value": "@addToTime(concat(variables('v_date'),'-01'),1,'Month')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "v-end_date",
        "dependsOn": [
          {
            "activity": "Copy Nyc Taxi Yellow",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[metadata].[insert_staging_metadata]",
          "storedProcedureParameters": {
            "pipeline_run_id": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "String"
            },
            "processed_date": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "table_name": {
              "value": "staging_nyctaxi_yellow",
              "type": "String"
            }
          }
        },
        "linkedService": {
          "name": "Project_warehouse_hari",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "99543ecb-dade-4b57-a1a5-72d603141fe0",
              "endpoint": "ddkvvvpkfyoepkagj3o32mrl7i-x5wxzcyc7a3edmdkglhhy3qiky.datawarehouse.fabric.microsoft.com",
              "workspaceId": "8b7c6dbf-f802-4136-b06a-32ce7c6e0856"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP loading Staging Metadata",
        "dependsOn": [
          {
            "activity": "Sp_removing_Outliner_Dates",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "SELECT TOP 1 \nlatest_processed_pickup \nfrom metadata.processing_log\nwhere table_processed = 'staging_nyctaxi_yellow'\norder by latest_processed_pickup desc \n\n",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "Project_warehouse_hari",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "99543ecb-dade-4b57-a1a5-72d603141fe0",
              "endpoint": "ddkvvvpkfyoepkagj3o32mrl7i-x5wxzcyc7a3edmdkglhhy3qiky.datawarehouse.fabric.microsoft.com",
              "workspaceId": "8b7c6dbf-f802-4136-b06a-32ce7c6e0856"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Latest Processed Data",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "v_date",
          "value": {
            "value": "@formatDateTime(addToTime(activity('Latest Processed Data').output.resultSets[0].rows[0].latest_processed_pickup,1,'Month'),'yyyy-MM')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "v_date",
        "dependsOn": [
          {
            "activity": "Latest Processed Data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "v_date": {
        "type": "String",
        "defaultValue": "2025-01"
      },
      "v_enddate": {
        "type": "String"
      }
    }
  }
}